version: "3.8"
services:
  db_${PROJECT_NAME}:
    image: postgres:${POSTGRES_VERSION}
    container_name: pgdb_${PROJECT_NAME}
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - local_pgdata:/var/lib/postgresql/${POSTGRES_VERSION}/docker
  pg_${PROJECT_NAME}:
    image: dpage/pgadmin4
    container_name: pgadmin4_${PROJECT_NAME}
    restart: always
    ports:
      - "${PGADMIN_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  local_pgdata:
  pgadmin-data:
